
.wrapper-test {
    width: 100%;
    border:5px solid red;
}

@media (max-width:960px){
    .wrapper-test{
        width:960px;
    }
}

.navi{
    width: 100%;
    border:1px solid blue;
    position: absolute;
}

@navi (max-width:960px){
    .navi{
        width:960px;
    }
}