
.wrapper-test {
    width: 100%;
    border:5px solid red;
}

@media (max-width:960px){
    .wrapper-test{
        width:960px;
    }
}

.navi{
    width: 100%;
    border:1px solid blue;
    position: absolute;
}

@navi (max-width:960px){
    .navi{
        width:960px;
    }
}
.minilogotest-image {
    width:230px;
}

.form-test {
    width:500px;
    border:1px solid black;
}

.fotm-test {
    width:300px;
    position: absolute;
}

.text-hidden {
            width:600px;
    margin: 0 auto;
    padding: 15px;
    height:300px;
    overflow: hidden;
}

.text-full {
    width:600px;
    margin: 0 auto;
    padding: 15px;
    }
#header-signup-form {
    border:1px solid red;
}

.visage-form-email {
       border:1px solid red;
}
