# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php
sites/*/files
sites/*/private

# Ignore paths that contain user-generated content.
.idea*
nbproject*
Thumbs.db