#footer-menu {
  margin-left: 50px;
}

.advantages-text-block p,
.side-block p {
  margin: 0;
}

.advantages-text-block ul {
  margin-bottom: 0;
}

.view-display-id-continent .views-field-name-field  {
  position: relative;
}

.view-display-id-continent .span12 h2 {
  text-align: center;
}

.view-display-id-continent .views-field-name-field .field-content {
  text-align: center;
  position: absolute;
  top: 65px;
  font-weight: bold;
  font-size: 35px;
  width: 300px;
  line-height: 30px;
}

.view-display-id-continent .views-field-name-field .field-content a {
  color: #fff;
}

@media (min-width: 1200px) {
  .view-display-id-continent .views-field-name-field .field-content {
    text-align: center;
    position: absolute;
    top: 75px;
    color: #fff;
    font-weight: bold;
    font-size: 40px;
    width: 370px;
    line-height: 35px;
  }
}

@media (max-width: 979px) and (min-width: 768px) {
  .view-display-id-continent .views-field-name-field .field-content {
    text-align: center;
    position: absolute;
    top: 50px;
    font-weight: bold;
    font-size: 27px;
    width: 228px;
  }
}

h1 {
  padding: 10px 0;
}

.title-wrapper h1 {
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(0,0,0,0.7);
}

.title-wrapper,
#slider-search-form {
  display: inline-block;
  position: absolute;
  z-index: 1000;
  margin-top: 200px;
}

@media (min-width: 1200px) {
  .title-wrapper,
  #slider-search-form {
    margin-top: 250px;
  }
}

@media (max-width: 979px) and (min-width: 768px) {
  .title-wrapper,
  #slider-search-form {
    margin-top: 150px;
  }
}

[id^="excur-search-search-form"] .form-item-search,
[id^="excur-search-search-form"] input,
[id^="excur-search-search-form"] {
  margin: 0;
  height: 23px;
}

[id^="excur-search-search-form"] input {
  width: 98%;
  background-image: none !important;
}

#slider-search-form #excur-search-search-form {
  padding: 10px 20px 20px 10px;
  border-radius: 5px;
  background-color: rgba(0,0,0,0.7);
}

.img-border img {
  box-sizing: border-box;
  border: 5px solid #fff;
  -webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.25);
  box-shadow: 1px 1px 3px rgba(0,0,0,0.25);
}

.popular-city {
  -moz-box-shadow: inset #d9d9d9 0 -1px 0 0;
  -webkit-box-shadow: inset #d9d9d9 0 -1px 0 0;
  box-shadow: inset #d9d9d9 0 0 0 1px;
}

.popular-city ul {
  padding: 0;
  list-style: none;
  margin: 0 0 4px 0;
}

.popular-city li span {
  color: #fff;
  display: inline-block;
  margin-bottom: 5px;
  margin-right: 5px;
  min-width: 20px;
  padding: 0 5px;
  text-align: center;
}

.popular-city li span.service {
  background-color: #08e;
}

.popular-city img {
  float: left;
  margin-right: 20px;
}

.popular-city li span.guide {
  background-color: #70bb2f;
}

.popular-city h3,
.popular-guide h3 {
  font-size: 18px;
  clear: none;
}

@media (min-width: 1200px) {
  .popular-city h3 {
    font-size: 20px;
  }
}

@media (max-width: 979px) and (min-width: 768px) {
  .popular-city img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }

  .popular-city h3 {
    font-size: 15px;
  }

  .popular-city ul {
    margin: 15px 0 5px 10px;
    clear: both;
  }
}

.view-display-id-city_service h3 {
  font-size: 20px;
  padding: 0 0 12px 0;
}

.read-more {
  margin-bottom: 5px;
}

.read-more i,
.side-block i {
  margin-right: 5px;
}

h2.node-description {
  font-size: 20px;
}

.side-block {
  border-radius: 5px;
  border: 1px solid #d9d9d9;
  padding: 15px;
}

.node-type-service .side-block {
  padding-bottom: 0;
}

.side-block .info {
  margin-bottom: 10px;
}

.do-offer {
  background-color: #eee;
  padding: 20px 0 15px;
  text-align: center;
  margin: 0 -15px 0 -15px;
  border-radius: 0 0 5px 5px;
}

.do-offer .price {
  color: #333;
  font-size: 25px;
  margin-bottom: 15px;
}

.guide-block .name {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
}

.service-rating {
  margin-top: 15px;
}

.guide-block .guide-rating {
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  margin: 15px -15px 15px -15px;
  padding: 15px 15px 15px 15px;
}

.page-node .guide-block .guide-rating {
  margin-bottom: 0;
  border-bottom: none;
}

.excur-offer-offer-form .head {
  background-color: #08e;
  border-radius: 5px 5px 0 0;
  color: #fff;
  font-weight: bold;
  padding: 5px 10px;
}

.excur-offer-offer-form .details .info {
  padding: 5px 0 0 10px;
  margin-right: -10px;
}

.excur-offer-offer-form .details {
  background-color: #eaf5fe;
  border-radius: 0 0 5px 5px;
}

.excur-offer-offer-form .form-item-date-date .description {
  display: none;
}

.excur-offer-offer-form .form-type-date-popup label {
  padding-top: 5px;
}

.excur-offer-offer-form .date-padding {
  padding: 0;
  float: none;
}

.excur-offer-offer-form .form-item-date-date input {
  margin-bottom: 0;
}

.excur-offer-offer-form .btn {
  height: 40px;
  line-height: 1em;
}

.offer-login {
  font-size: 15px;
}

ul.primary li a {
  padding: 4px;
  border-radius: 5px 5px 0 0;
}

ul.primary {
  height: 21px;
}

#excur-currency-choice-form button,
#excur-language-switcher button {
  height: 33px;
}

#excur-currency-choice-form button span,
#excur-language-switcher button span {
  line-height: 35px;
}

#excur-currency-choice-form .form-item,
#excur-currency-choice-form,
#excur-language-switcher .form-item,
#excur-language-switcher {
  margin: 0;
  height: 33px;
}

#excur-language-switcher .bootstrap-select {
  width: 140px;
}

#excur-currency-choice-form input[type="submit"] {
  display: none;
}

@media (max-width: 979px) and (min-width: 768px) {
  #excur-currency-choice-form .bootstrap-select {
    width: 166px;
  }

  #excur-language-switcher .bootstrap-select {
    width: 104px;
  }
}

@media (min-width: 1200px) {
  #excur-currency-choice-form .bootstrap-select {
    width: 270px;
  }

  #excur-language-switcher .bootstrap-select {
    width: 170px;
  }
}

h2.meeting {
  display: inline-block;
}

.view-display-id-city_service h2,
.view-display-id-guide_service h2 {
  padding: 10px 0 0 0;
}

.view-display-id-city_service #edit-submit-content,
.view-display-id-guide_service #edit-submit-content {
  height: 35px;
  line-height: 35px;
}

.list-a.categories li {
  cursor: pointer;
}

.list-a.categories li.active,
.list-a.categories li:hover {
  background-color: #08c;
  color: white;
}

.list-a.categories li:last-child {
  margin-bottom: 0;
}

#edit-tid-wrapper {
  display: none;
}

.navbar .nav.nav-right {
  float: right;
  margin: 0;
}

.navbar .nav.nav-right li.first a {
  padding: 15px 24px 16px 22px !important;
}

.navbar .nav.nav-right li.last a {
  padding-right: 0 !important;
}

#edit-field-language-und {
  background-image: none;
}

#user-register-form label[for="edit-guide"] {
  position: relative;
  top: 3px;
}

.view-display-id-city_service .views-exposed-widget label,
.view-display-id-guide_service .views-exposed-widget label {
  margin-bottom: 3px;
}

.view-display-id-city_service .views-exposed-widget button,
.view-display-id-guide_service .views-exposed-widget button,
.view-display-id-city_service .views-exposed-widget button > span,
.view-display-id-guide_service .views-exposed-widget button > span {
  height: 35px;
  line-height: 35px;
}

h1#text-special {
  font-size: 42px;
  text-align: center;
  padding-top: 0;
}

p.certified {
  color: #FF3232;
  font-weight: bold;
}

.guide-block form {
  margin: 0 0 10px;
}

.guide-block .ask-guide {
  margin-top: 15px;
  text-align: center;
}

.panel-group .panel {
  margin-bottom: 0;
 border-radius: 5px;
}

.panel {
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.panel-default {
  border-color: #ddd;
}

.panel-default>.panel-heading {
  color: #333;
  background-color: #f5f5f5;
  border-color: #ddd;
}

.panel-group .panel-heading {
  border-bottom: 0;
}

.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

h2.panel-title {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  color: inherit;
}

.panel-default>.panel-heading+.panel-collapse>.panel-body {
  border-top-color: #ddd;
}

.panel-group .panel-heading+.panel-collapse>.panel-body {
  border-top: 1px solid #ddd;
}

.panel-body {
  padding: 15px;
}

.panel-body .form-actions
.panel-body form {
  margin-bottom: 0;
}
